html{background-color: black;}
body{background-color: black;}
.jumbotron{margin-left: 10%; margin-right: 10%;
background-color: #faca87;
}
form{color: #ffffff;}
nav{border: 3px solid #faca87;}
